<form autocomplete="off">

    <div>
        Select the configuration
    </div>
    <hr>

    <div class="form-group">
        <label>Name</label>
        <div class="form-fields">
            <input type="text" id="name" name="name" placeholder="Name" value="{{name}}"/>
        </div>
    </div>
	<hr>
	
	<h3 style="border: 2px solid #000000; border-top: none; border-left: none; border-right: none;">Video Configuration</h3>
    <div class="form-group flexrow">
        <label>Background Video</label>
		<div class="form-fields">
			{{filePicker target="img" type="imagevideo"}}
			<input class="video" type="text" id="img" name="img" placeholder="{{localize 'File Path'}}" value="{{img}}"/>
		</div>
	</div>
	<div class="flexrow">
		<label>Video Height</label>
		<input type="range" id="video-height" name="video-height" min="100" max="720" step="1" value="{{videoHeight}}" />
		<span class="range-value"></span>
	</div>
	<div class="flexrow">
		<label>Video Width</label>
		<input type="range" id="video-width" name="video-width" min="100" max="1280" step="1" value="{{videoWidth}}" />
		<span class="range-value"></span>
	</div>
	<div class="flexrow">
		<label for="video-auto">Autoplay?</label>
		{{#if videoAuto}}
			<input type="checkbox" id="video-auto" name="video-auto" value="{{videoAuto}}" checked />
		{{else}}
			<input type="checkbox" id="video-auto" name="video-auto" value="{{videoAuto}}" />
		{{/if}}
	</div>
	<div class="flexrow">
		<label for="video-loop">Loop?</label>
		{{#if videoLoop}}
			<input type="checkbox" id="video-loop" name="video-loop" value="{{videoLoop}}" checked />
		{{else}}
			<input type="checkbox" id="video-loop" name="video-loop" value="{{videoLoop}}" />
		{{/if}}
	</div>
	<div class="flexrow">
		<label for="video-controls">Show controls?</label>
		{{#if videoControls}}
			<input type="checkbox" id="video-controls" name="video-controls" value="{{videoControls}}" checked />
		{{else}}
			<input type="checkbox" id="video-controls" name="video-controls" value="{{videoControls}}" />
		{{/if}}
	</div>
	<h3 style="border: 2px solid #000000; border-top: none; border-left: none; border-right: none;">Text Configuration</h3>
    <div class="form-group">
		<label>Text Color</label>
		<input type="text" class="color" id="textcolor" name="textcolor" placeholder="#ffffff" value="{{textcolor}}" />
        <input type="color" value="{{textcolor}}" data-edit="textcolor"/>
    </div>

	<h3 style="border: 2px solid #000000; border-top: none; border-left: none; border-right: none;">Rotation Configuration</h3>
    <div class="form-group">
		<label>Video Rotation</label>
        <input type="range" id="video-rotation" name="video-rotation" min="-180" max="180" step="1" value="{{videoRotation}}" />
        <span class="range-value"></span>
	</div>

    <div class="form-group">
		<label>Editor Rotation</label>
        <input type="range" id="editor-rotation" name="editor-rotation" min="-180" max="180" step="1" value="{{editorRotation}}" />
        <span class="range-value"></span>
	</div>
    
</form>