<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="lightbox-video" {{#if showTitle}}title="{{title}}"{{/if}}>
		<video id="background-video" autoplay>
			<source src=url('{{video}}') type='{{vidType}}'>
		</video>
	</div>

    {{#if editable}}
    <div class="form-group title">
        <input type="text" name="title" value="{{title}}"/>
    </div>

    <div class="form-group picker">
        {{filePicker target="video" type="video"}}
        <input class="video" type="text" name="video" placeholder="path/video.webm" value="{{video}}" data-dtype="String"/>
        <button type="submit"><i class="fas fa-check"></i></button>
    </div>
    {{/if}}
</form>
