/* ----------------------------------------- */
/*  Journal video
/* ----------------------------------------- */
.window-app.video-popout .window-content {
  background: rgba(0, 0, 0, 0.1);
}
.window-app.video-popout form {
  justify-content: center;
  position: relative;
}
.window-app.video-popout .lightbox-video {
  flex: 0 0 calc(100% - 100px);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.window-app.video-popout .form-group {
  position: absolute;
  width: 400px;
  max-width: 90%;
  left: calc(50% - 200px);
}
.window-app.video-popout .form-group.picker {
  bottom: 0;
  margin: 5px 0 10px;
}
.window-app.video-popout .form-group.picker input {
  flex: 1;
}
.window-app.video-popout .form-group.title {
  top: 5px;
}
.window-app.video-popout .form-group.title input {
  height: 32px;
  text-align: center;
}
.window-app.video-popout .form-group button {
  flex: 0 0 32px;
  height: 32px;
  margin: -2px 5px 0;
  order: 3;
}